.list_style a{
    color: black;
}
.section_sony{
    height: 50px;
    z-index: 3;
    position: fixed;
}
.section_sony img{
   height: 100%;
}
.button_style{
    border-radius: 2rem;
    border: none;
    color: white;
   
    padding:.5rem;

}
.button-black{
    background-color: black;
}
.nav_style{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 5;
}
.dropdown{
    position: static;
}
.dropdown-menu.show{
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
   
main{
   position: absolute;
   top: 126px;
   left: 0;
   right: 0;
   
}
.returnal_style{
    height: 70vh;
    border-radius: 0;
}
.returnal_style img{
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
    
}
.button-red{
    background-color: red;
}
.cards_anteprima img{
    width: 100%;
    border-radius: 1rem;
    transition: 0.8s;
}
.cards_anteprima{
    margin-bottom: 6rem;
}
.cards_anteprima img:hover{
    transform: translateY(-10px);
}
.play_console div{
    color: rgba(8, 118, 207, 1);
    font-size: 12px;
}
.play_console{
    margin-bottom: 5rem;
}
.button-blue{
    background-color: rgba(45, 100, 230, 1);
}
.img_playstation img{
    width: 100%;
    display: block;
    
}
.dispositivi_ps5 img{
    width: 100%;
}
.take_two_style{
    height: 70vh;
    border-radius: 0;
}
.take_two_style img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.take_two_style .take_logo{
    width: 200px;
}
.cards_giochi{
    background-color: rgba(31, 31, 31, 1);
}
.playstation_plus{
    position: relative;
    background-color: rgba(190, 188, 187, 1);
}
.img_plus{
    height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 130px;
}
.plus_logo{
    width: 300px;
}
.button_plus{
    color: rgba(45, 100, 230, 1);
    font-size: 13px;
    background-color: rgba(217, 218, 220, 1);
}
.sconti img{
    width: 100%;
}
.avengers{
    background-color: rgba(22, 28, 59, 1);

}
.social img{
    width: 100%;
}