.list_style a{
    color: black;
}
.section_sony{
    height: 50px;
    z-index: 3;
    position: fixed;
}
.button_style{
    border-radius: 2rem;
    border: none;
    color: white;
   
    padding:.5rem;

}
.button-black{
    background-color: black;
}
.nav_style{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 5;
}
   
main{
   position: absolute;
   top: 126px;
   left: 0;
   right: 0;
   
}
.returnal_style{
    height: 70vh;
    border-radius: 0;
}
.returnal_style img{
    object-fit: cover;
    object-position: right;
    width: 100%;
    height: 100%;
}
.button-red{
    background-color: red;
}
.cards_anteprima img{
    width: 100%;
    border-radius: 1rem;
}
.cards_anteprima{
    margin-bottom: 6rem;
}
.play_console div{
    color: rgba(8, 118, 207, 1);
    font-size: 12px;
}
.play_console{
    margin-bottom: 5rem;
}